@font-face {
    font-family: Roboto;
    src: url(./assets/Roboto-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    font-family: Roboto, sans-serif;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.avatar {
    width: 50px;
}

/*      SIDEBAR      */

.sidebar {
    background: linear-gradient(#38bdf8, #0284c7);
    color: white;
    padding: 20px;
    grid-row: 1 / 3;
}

.white-icon {
    filter: invert(1);
}

.dashboard {
    display: flex;
    align-items: center;
    margin-left: -7px;
    gap: 10px;
    font-size: 1.5rem;
    margin-bottom: 45px;
}

.dashboard-icon {
    width: 40px;
}

.side-nav {

}

.side-nav li {
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.icon {
    width: 25px;
}

.side-settings {
    margin-top: 45px;
}

/*      HEADER      */

.header {
    padding: 20px 50px;
}

.header button:hover,
.header .icon:hover {
    transform: scale(1.1);
}

.top-header,
.bottom-header {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.top-header {
    margin-bottom: 20px;
}

.search,
.top-profile {
    font-weight: bold;
    display: flex;
    align-items: center;
}

.search {
    gap: 20px;
}

.top-profile {
    gap: 40px
}

#search {
    background-color: #e2e8f0;
    border: none;
    width: 500px;
    height: 30px;
    border-radius: 24px;
}

.top-profile .avatar {
    width: 50px;
}

.top-profile button {
    background-color: white;
    border: none;
}

.bottom-header  {
    display: flex;
    align-items: center;
}

.bottom-profile {
    display: flex;
    align-items: center;
    gap: 20px;
}

.bottom-profile .avatar {
    width: 75px;
}

.bottom-profile .smol {
    font-weight: bold;
    font-size: 0.8rem;
}

.bottom-profile .big {
    font-weight: bold;
    font-size: 1.25rem;
}

.bottom-header button {
    color: white;
    background-color: #0284c7;
    border: none;
    padding: 8px 24px;
    border-radius: 24px;
    margin-left: 20px;
    margin-top: 15px;
}


/*      Content      */

.main-content {
    grid-column: 2;
    /* background-color: #e2e8f0; */
    background-color: #f1f5f9;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 20px;
}

.projects {
    grid-row: 1 / 3;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
}

.projects > p,
.announcements > p,
.trending > p {
    font-weight: bold;
    margin-bottom: 10px;
}

.project-card {
    background-color: white;
    padding: 20px;
    border-left: 7px solid #facc15;
    border-radius: 8px;
    height: 150px;

    display: grid;

}

.project-card div {
    justify-self: end;
}

.project-card img {
    margin-left: 15px;
}

.title {
    font-weight: bold;
}

.announcement-card {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
}

.announcement-sec {
    padding-bottom: 15px;
    border-bottom: 1px solid #e2e8f0;
    margin-bottom: 10px;
}

.announcement-sec:last-child {
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: none;
}

.trending {
    grid-column: 2;
}

.trending-card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

.trending-sec {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 0.9rem;
}

.trending-sec:last-child {
    margin-bottom: 0px;
}

.user-name {
    font-weight: bold;
}